.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.form-container {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.checkout-container button {
    background-color: #d2a7c3;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.checkout-container button:hover {
    background-color: #d2a7c3c5;
}

.confirmation-message {
    text-align: center;
    padding: 80px 0;
}

.confirmation-message h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.confirmation-message h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.confirmation-message h4 {
    font-size: 1rem;
    color: #666;
}