footer {
  background-color: #e4dfd6;
  color: #fff;
  padding: 20px 0;
}

a {
  text-decoration: none
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}


.footer-logo h2 {
  color: #fff;
  margin-bottom: 20px;


}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer-social {
  margin-top: 15px;
}

.footer-social ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.footer-social ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.footer-social img {
  width: 28px;
  cursor: pointer;
}


.footer-bottom {
  margin-top: 5px;
  text-align: center;
}