.item-count {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.item-count button {
  width: auto;
  height: 32px;
  background-color: #d2a7c3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
}

.item-count button:hover {
  background-color: #d2a7c3c5;
}

.item-count p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0
}