* {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background: #e2dacd;
  padding: 15px;
  padding-left: 30px;
  font-size: 1.1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;

}

.navbar li {
  padding: 10px;
  font-weight: 500;
}

.navbar a {
  color: #444444;
  text-decoration: none;
  font-weight: 600;
}

.navbar ul li a.active {
  color: #f48eb8;
}


.navbar h1 {
  font-size: 2rem;
}